body{
    text-align: center;
}
#visualization {
    width: 800px;
    height: 400px;
    border: 10px solid #ccc;
    background-color: snow;
}
button {
    margin: 10px;
    background-color: blanchedalmond;
    border: 2px;
    border-radius: 25px;
    padding: 1%;
}
button:hover{
    background-color: rgb(249, 192, 105);
    cursor: pointer;
}

.number-label {
    text-align: center;
    font-size: 10px;
}